html {
    background-color: white;
    color: #474747;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f4fc;
    max-width: 90%;
    margin: auto;
    padding: 2rem;
  }
  
  h3 {
    font-size: 1.5em;
    color: #cbf280;
    background-color: #4831d4;
    padding: 0.5em;
    margin: 0;
  }
  
  h4 {
    font-size: 1.2em;
    background-color: #cbf280;
    padding: 0.5em;
    margin: 0;
  }
  
  h5 {
    font-size: 1em;
    margin: 0.5em 0;
    padding: 0 0.5em;
  }
  
  p {
    font-size: 0.8em;
    margin: 0.5em 0;
    padding: 0 0.5em 2em 0.5em;
    border-bottom: 0.1em dashed #474747;
  }
  

table {
    color: rgba(233, 233, 233, 255);
    background-color: rgba(33, 33, 44, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
    padding: 1em;
    text-align: center;
}

.tdOff {
    color: gray;
}

.tdOn {
    background-color: cornflowerblue;
    border: rgba(33, 33, 44, 255) 0.5em double;
    padding: 0.5em;
}